
.header {
	width: 100%;
	clear: both;
	float: left;
	background: #256188;
	
	margin-bottom: 10px;
	/* border: 1pt solid red; */
}

#headerLinks {
	margin-left: 18px;
	margin-top: 10px;
	font-size: 12px;
	color: white;
}

#headerLinks a {
	font-size: 12px;
	color: white;
	text-decoration: none;
}

#headerTitle {
	font-size: 30px;
	font-weight: bold;
	float: left;
	margin: 10px;
	color: white;

}

#headerLogo {
	float: right;
	margin-right: 15px;
}

.projects {
	/* width: 700px; */
	width: 58%;
	float: left;
}

.hidableDetails {
	display: none;
}

.project {
	margin-bottom: 15px;
	margin-right: 10px;
	margin-left: 10px;
	padding-bottom: 10px;
	/* width: 375px; */
	/* width: 680px; */
	width: 100%;
	border-bottom: 1pt solid gray;
	float: left;
	/* padding: 10px; */
}

.project .projectTitle {
	font-size: 16px;
	font-weight: bold;
	/* width: 300px; */
	width: 100%;
	float: left;
}

.project .projectInfoLeft {
	float: left;
}

.projectTitleProgressChart {
	float: right;
	/* border: 1pt solid red; */
	width: 20%;
}

.projectHourChart {
	float: left;
	width: 78%;
	/* border: 1pt solid orange; */
}

.progressChart {
	float: right;
	/* width: 150px; */
	/* width: 10%; */
	height: 43px;
}

.progressChartLabel {
	font-size: 8px;
	/* width: 150px; */
	
}

.projectInfoRight {
	float:right;
	width: 125px;
	text-align: right;
}

.project .projectVelocity {
	width: 100px;
	clear: both;
}

.project .projectVelocity .storyData, .project .projectEstimatedCompletion .storyData, .project .projectTotalHours .storyData {
	font-weight: bold;
	text-align: right;
	float: left;
	width: 125px;
	font-size: 13px;
}

.project .projectVelocity .storyLabel, .project .projectEstimatedCompletion .storyLabel, .project .projectTotalHours .storyLabel {
	width: 125px;
}
.stories {
	display: none;
}

.toggleStories {
	font-size: 8px;
}

.story {
	border-bottom: 1pt solid gray;
	padding-bottom: 12px;
	margin-bottom: 12px;
	clear: both;
}

.story .storyTitle {
	width: 100%;
	font-size: 14px;
	clear: both;
}

.story .storyDesc {
	width: 100%;
	font-size: 12px;
	clear: both;
}

.storyInfo {
	width: 10%;
	min-width: 75px;
	/* border: 1pt solid blue; */
	float: left;
	margin-bottom: 5px;
}

.storyData {
	width: 100%;
	float: left;
	font-size: 11px;
	/* border: 1pt solid red; */
}

.storyLabel {
	width: 100%;
	float: left;
	font-size: 9px;
}

.accepted {
	color: #4b80c4;
	font-weight: bold;
}

.started, .finished, .delivered {
	color: #61b847;
	font-weight: bold;
}

.unstarted, .unscheduled, .unestimated {
	color: #f27926;
	font-weight: bold;
}

.projectChart {
	float: left;
	clear: both;
	/* width: 375px; */
	/* width: 700px; */
	width: 100%;
	height: 100px;
}

.activityStream {
	width: 38%;
	min-width: 100px;
	float: right;
}

.activityStreamItem {
	margin-bottom: 5px;
}

.activityStreamTitle {
	font-size: 12px;
}

.activityStreamDetails {
	font-size: 10px;
}

.todoStoryDetails {
	display: none;
}

.groupsBody {
	width: 100%;
	float: left;
}

.groupsBody .groups {
	width: 50%;
	float: left;
}

.groupsBody .projects {
	width: 50%;
	float: right;
}

.groupList {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.groupProjects {
	list-style-type: none;
	margin-left: 10px;
	padding: 0px;
}

.projectList {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.projectGroupTitle {
	color: #4b80c4;
}