
.header {
	width: 100%;
	clear: both;
	float: left;
	background: #256188;
	
	margin-bottom: 10px;
	/* border: 1pt solid red; */
}

#headerLinks {
	margin-left: 18px;
	margin-top: 10px;
	font-size: 12px;
	color: white;
}

#headerLinks a {
	font-size: 12px;
	color: white;
	text-decoration: none;
}

#headerTitle {
	font-size: 30px;
	font-weight: bold;
	float: left;
	margin: 10px;
	color: white;

}

#headerLogo {
	float: right;
	margin-right: 15px;
}

.projects {
	width: 62%;
	float: left;
}

.project {
	margin-bottom: 15px;
	margin-right: 15px;
	/* width: 375px; */
	width: 700px;
	/* border-bottom: 1pt solid black; */
	float: left;
	padding: 10px;
}

.project .projectTitle {
	font-size: 16px;
	font-weight: bold;
	width: 300px;
	float: left;
}

.projectInfoRight {
	float:right;
	width: 150px;
	text-align: right;
}

.project .projectVelocity {
	width: 100px;
	clear: both;
}

.project .projectVelocity .storyData, .project .projectEstimatedCompletion .storyData {
	font-weight: bold;
	text-align: right;
	float: none;
	width: 100px;
	font-size: 13px;
}

.stories {
	display: none;
}

.toggleStories {
	font-size: 8px;
}

.story {
	border-bottom: 1pt solid gray;
	padding-bottom: 12px;
	margin-bottom: 12px;
	clear: both;
}

.story .storyTitle {
	width: 100%;
	font-size: 14px;
	clear: both;
}

.story .storyDesc {
	width: 100%;
	font-size: 12px;
	clear: both;
}

.storyInfo {
	width: 10%;
	min-width: 100px;
	/* border: 1pt solid blue; */
	float: left;
	margin-bottom: 5px;
}

.storyData {
	width: 100%;
	float: left;
	font-size: 11px;
	/* border: 1pt solid red; */
}

.storyLabel {
	width: 100%;
	float: left;
	font-size: 8px;
}

.accepted {
	color: #4b80c4;
}

.started, .finished, .delivered {
	color: #61b847;
}

.unstarted, .unscheduled, .unestimated {
	color: #f27926;
}

.projectChart {
	float: left;
	clear: both;
	/* width: 375px; */
	width: 700px;
	height: 100px;
}

.progressChart {
	float: left;
	clear: both;
	/* width: 375px; */
	width: 400px;
	height: 100px;
}

.activityStream {
	width: 38%;
	float: right;
}

.activityStreamItem {
	margin-bottom: 5px;
}

.activityStreamTitle {
	font-size: 12px;
}

.activityStreamDetails {
	font-size: 10px;
}

.todoStoryDetails {
	display: none;
}