
.header {
	width: 100%;
	clear: both;
	float: left;
	background: #256188;
	
	margin-bottom: 10px;
	/* border: 1pt solid red; */
}

#headerLinks {
	margin-left: 10px;
	margin-top: 10px;
	font-size: 12px;
	color: white;
}

#headerLinks a {
	font-size: 12px;
	color: white;
	text-decoration: none;
}

#headerTitle {
	font-size: 30px;
	font-weight: bold;
	float: left;
	margin: 10px;
	color: white;

}

#headerLogo {
	float: right;
	margin-right: 15px;
}

.projects {
	width: 62%;
	float: left;
}

.project {
	margin-bottom: 15px;
	margin-right: 15px;
	width: 375px;
	border: 1pt solid black;
	float: left;
	padding: 10px;
}

.project .projectTitle {
	font-size: 16px;
	font-weight: bold;
	width: 75%;
	float: left;
}

.project .projectVelocity {
	width: 25%;
	float: right;
}

.project .projectVelocity .storyData {
	font-weight: bold;
}

.stories {
	display: none;
}

.toggleStories {
	font-size: 8px;
}

.story {
	border-bottom: 1pt solid gray;
	padding-bottom: 12px;
	margin-bottom: 12px;
	clear: both;
}

.story .storyTitle {
	width: 100%;
	font-size: 14px;
	clear: both;
}

.story .storyDesc {
	width: 100%;
	font-size: 12px;
	clear: both;
}

.storyInfo {
	width: 15%;
	min-width: 125px;
	/* border: 1pt solid blue; */
	float: left;
	margin-bottom: 5px;
}

.storyData {
	width: 100%;
	float: left;
	font-size: 13px;
	/* border: 1pt solid red; */
}

.storyLabel {
	width: 100%;
	float: left;
	font-size: 10px;
}

.projectChart {
	float: left;
	clear: both;
	width: 375px;
	height: 200px;
}

.activityStream {
	width: 38%;
	float: right;
}

.activityStreamItem {
	margin-bottom: 5px;
}

.activityStreamTitle {
	font-size: 12px;
}

.activityStreamDetails {
	font-size: 10px;
}

.todoStoryDetails {
	display: none;
}